.jobCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.jobCard:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);   z-index: 2;
}

.readMoreLink {
  color: gray;
}
.CompanyLogo {
  float: right; 
  width: 60px; 
  height: auto; 
  margin-left: 30px; 
}
.prefer_Section {
  height: 30px;
  width: auto;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin-top: 10px; 
}