:root {
  --clr-primary: #ffffff;
  --clr-Secondary: #000000;

  --btn-clr: rgb(30, 174, 97);
  --logo-clr: rgb(30, 174, 97);
  --light-black: rgb(105, 101, 101, 1);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f1;
}
